* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000000;
}
.diamond-grid {
  width: 70%;
  margin: 10rem auto 0;
}
.item {
  width: 250px;
  height: 250px;
  background-color: #000000;
  opacity: 0.6;
  filter: blur(5px);
  transition: 0.4s;
}
.item img {
  z-index: 1; /* extra */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.1);
}
/* extra */
.bangla {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bangla p {
  z-index: -1; /* extra */
  font-size: 1.5rem;
  font-weight: 500;
  color: aliceblue;
  display: none;
}
.bangla:hover img {
  display: none;
}
.bangla:hover p {
  display: block;
}
@media (max-width: 768px) {
  .diamond-grid {
    width: 100%;
    margin: 0 auto;
  }
  .bangla {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
  }
  .bangla p {
    font-size: 0.8rem;
  }
}
